body {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
    width: 1200px;
    height: 1000px;

}

.title {
  background-color: orange;
  width: 800px;
  text-align: center;
  border-radius: 40px;
  h1 {
    margin: 0;
    font-size: 130px;
    padding-bottom: 10px;
  }
}

#start {
  margin-top: 100px;
  background-color: orange;
  border-radius: 40px;
  p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    margin-bottom: 0
  }

  &:hover {
    border: 2px solid black;
    cursor: pointer;
  }
}

#end-game, #timer, #score, .diff-val {
  display: none;
}

.selected {
  background-color: honeydew;
  img {
    animation: cardflip .5s ease-in-out 1;
    animation-fill-mode: forwards;

  }
}

.card-wrapper {
  background-color: black;
  margin: 5px;
  border-radius: 5px;
}
.card {
  border: 2px solid #000;
  border-radius: 5px;
  height: 210px;
  width: 250px;
  margin: 5px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
    &:hover {
      border: 2px solid #fff;
      cursor: pointer;
    }
  img {
    transform: rotateY(90deg);
  }
}

.matched {
  height: 210px;
  width: 250px;
  animation: color-change 1s ease 1;
  animation-fill-mode: forwards;

  img {
    animation: cardflip 1s linear 0s 1;
    animation-fill-mode: forwards;

  }
}

.title-win {
  animation: color-change 2s ease 0.5s 1;
  animation-fill-mode: forwards;
}

#end-game {
  position: relative;
  margin-bottom: 100px;
}

#refresh-button {
  font-size: 30px;
  background-color: orange;
  width: 150px;
  border-radius: 40px;
  position: absolute;
  left: 325px;
  top: 110%;

}

.levels {
  width: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.difficulty {
  margin-top: 50px;
  background-color: orange;
  border-radius: 40px;
  p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.easy {
  &:hover {
    background-color: green;
    border-radius: 40px;
    cursor: pointer;
  }
}

.click-easy {
  background-color: green;
  border-radius: 40px;
}

.medium {
  &:hover {
    background-color: gold;
    border-radius: 40px;
    cursor: pointer;
  }
}

.click-medium {
  background-color: gold;
  border-radius: 40px;
}

.hard {
  &:hover {
    background-color: red;
    border-radius: 40px;
    cursor: pointer;
  }
}

.click-hard {
  background-color: red;
  border-radius: 40px;
}

@keyframes cardflip {
  0% { }
  100% {transform: rotateY(0deg);}
}

@keyframes color-change {
  0% { }
  100% {background-color: red}
}
